@import 'ngx-toastr/toastr';
@import 'bootswatch/dist/yeti/bootstrap';
@import 'font-awesome/css/font-awesome';


html,
body {
    height: 100%;
}

body {
    margin:0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}